name: Publish

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: git config
        run: |
         git config --global user.name GitHub Actions[Bot]
         git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Repository Prerequisites
        run: |
          git checkout main
          git pull
          git submodule update --init --recursive
      - name: install requirements
        run: |
          pip3 install -r requirements.txt
      - name: publish
        run: |
          make github
